{% macro link(paginator, number, route, route_parameters) %}
    {% set href = path(
        route|default(app.request.attributes.get('_route')),
        route_parameters
            |default(app.request.attributes.get('_route_params', {}))
            |merge(app.request.query.get('criteria', {})
            |merge(app.request.query.get('sorting', {})))
            |merge({'page': number})
    ) %}

    <a class="{% if number == paginator.currentPage %}active {% endif %}item" href="{{ href }}">{{ number }}</a>
{% endmacro %}

{% macro simple(paginator, route, route_parameters)  %}
    {% import _self as pagination %}

    {% if paginator.haveToPaginate() %}
        <div class="ui stackable pagination menu">
            {% for number in 1..paginator.nbPages %}
                {{ pagination.link(paginator, number, route, route_parameters) }}
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}
