<div class="ui segment">
    <div class="ui center aligned three column stackable divided grid">
        <div class="column">
            <div class="ui small statistic">
                <div class="value">
                    21.11.2014
                </div>
                <div class="label">
                    {{ 'sylius.ui.last_order' }}
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui small statistic">
                <div class="value">
                    $40.00
                </div>
                <div class="label">
                    {{ 'sylius.ui.lifetime_spent'|trans }}
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui small statistic">
                <div class="value">
                    $14.37
                </div>
                <div class="label">
                    {{ 'sylius.ui.average_order_value'|trans }}
                </div>
            </div>
        </div>
    </div>
</div>
