// Sylius color colors.

$color-sylius: #1abb9c;
$color-sylius-dark: darken($color-sylius, 5%);
$color-sylius-light: lighten($color-sylius, 5%);

// Background colors.
$color-background: #F9FAFB;

// Gray base colors.
$color-gray-base: #000;
$color-gray-darker: lighten($color-gray-base, 13.5%);
$color-gray-dark: lighten($color-gray-base, 20%);
$color-gray: lighten($color-gray-base, 33.5%);
$color-gray-light: lighten($color-gray-base, 46.7%);
$color-gray-lighter: lighten($color-gray-base, 93.5%);
