<div class="ui pointing dropdown link item">
    <span class="text">USD</span>
    <i class="dropdown icon"></i>
    <div class="menu">
        <a class="item">GBP</a>
        <a class="item">EUR</a>
        <a class="item">PLN</a>
    </div>
</div>
