<div class="ui pointing dropdown link item">
    <span class="text"><i class="us flag"></i> English (United States)</span>
    <i class="dropdown icon"></i>
    <div class="menu">
        <a class="item"><i class="pl flag"></i> Polish (Poland)</a>
        <a class="item"><i class="es flag"></i> Spanish (Spain)</a>
        <a class="item"><i class="fr flag"></i> French (France)</a>
        <a class="item"><i class="de flag"></i> German (Germany)</a>
    </div>
</div>
