<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}Sylius{% endblock %}</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% block metatags %}
    {% endblock %}

    {% block stylesheets %}
        {% include 'SyliusUiBundle::_stylesheets.html.twig' with {'path': 'assets/shop/css/style.css'} %}
        <style>
            .footer {
                margin-top: 2em;
            }
        </style>
    {% endblock %}
</head>

<body class="pushable">
<div class="pusher">
<div id="toolbar" class="ui sticky inverted stackable menu">
    {% include 'SyliusShopBundle:Static:_currencySelector.html.twig' %}
    {% include 'SyliusShopBundle:Static:_localeSelector.html.twig' %}
    {% include 'SyliusShopBundle:Static:_security.html.twig' %}
</div>

<div class="ui container">
    <div class="ui basic segment">
        <div class="ui three column stackable grid">
            <div class="column">
                <img src="{{ asset('assets/shop/img/logo.png') }}" class="ui small image" />
            </div>
            <div class="column">
                {% include 'SyliusShopBundle:Static:_search.html.twig' %}
            </div>
            <div class="right aligned column">
                <div class="ui circular cart button" data-position="bottom center"><i class="cart icon"></i> $49.00, 1 items(s)</div>
                <div class="ui large flowing cart popup hidden">
                    <div class="ui list">
                        <div class="item">2 x <strong>Sylius T-Shirt</strong> $15,00</div>
                        <div class="item">1 x <strong>Bud Light Beer</strong> $5,00</div>
                        <div class="item">Subtotal: $20,00</div>
                    </div>
                    <a href="#" class="ui fluid basic text button">View and edit cart</a>
                    <div class="ui divider"></div>
                    <a href="#" class="ui fluid primary button">Checkout</a>
                </div>
            </div>
        </div>
    </div>

    <div class="ui basic segment">
        <div class="ui large stackable menu">
            <a href="#" class="item">T-Shirts</a>
            <a href="#" class="item">Mugs</a>
            <a href="#" class="item">Books</a>
            <a href="#" class="item">Stickers</a>
            <div class="ui dropdown item">
                Brands
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item">Adidas</a>
                    <a class="item">Nike</a>
                    <a class="item">Puma</a>
                </div>
            </div>
        </div>
    </div>

    {% block content %}

    {% endblock %}
</div>

{% block footer %}
    {% include 'SyliusShopBundle:Homepage:_footer.html.twig' %}
{% endblock %}
</div>

{% block javascripts %}
    {% include 'SyliusUiBundle::_javascripts.html.twig' with {'path': 'assets/shop/js/app.js'} %}
{% endblock %}
</body>
</html>
