<div class="user pull-right">
    <div class="item dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="https://avatars0.githubusercontent.com/u/614970?v=2&s=60">
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-header">
                Jon Doe
            </li>
            <li class="divider"></li>
            <li class="link">
                <a href="#"> Profile</a>
            </li>
        </ul>
    </div>
</div>
