{% if data is not null %}
    <span class="ui icon label">
        <i class="ui icon boxes"></i>
        {{ data.name }}
    </span>
{% else %}
    <span class="ui label">{{ 'sylius.ui.none'|trans }}</span>
{% endif %}
