<div class="ui styled fluid accordion">
    <div class="title">
        <i class="dropdown icon"></i>
        Summary
    </div>
    <div class="content">
        <table class="ui very basic table">
            <thead>
            <tr>
                <th>Item</th>
                <th>Qty</th>
                <th>Subtotal</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Simple T-Shirt</td>
                <td class="center aligned">
                    1
                </td>
                <td>$14.00</td>
            </tr>
            <tr>
                <td>Mug Bomb</td>
                <td class="center aligned">
                    2
                </td>
                <td>$40.00</td>
            </tr>
            <tr>
                <td>Sticker Kiki</td>
                <td class="center aligned">
                    1
                </td>
                <td>$10.00</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
