{% extends 'SyliusShopBundle:Static:layout.html.twig' %}

{% block content %}
<div class="ui grid">
    <div class="center aligned sixteen wide column">
        <h1 class="ui icon header">
            <i class="circular rocket icon"></i>
            <div class="content">
                Thank you!
                <div class="sub header">You have successfully placed na order.</div>
            </div>
        </h1>
    </div>
</div>
{% endblock %}

