{% extends 'SyliusUiBundle:Layout:sidebar.html.twig' %}

{% block title %}Sylius | {% endblock %}

{% block logo %}
{% endblock %}

{% block sidebar %}
{{ knp_menu_render('sylius.admin.main', {'template': 'SyliusUiBundle:Menu:sidebar.html.twig'}) }}
{% endblock %}

{% block footer %}
{{ 'sylius.ui.powered_by'|trans }} <a href="http://sylius.org" target="_blank">Sylius</a>.
{% endblock %}
