<!DOCTYPE html>

<html>
<head>
    <title>
        {% block title %}
            {{ 'sylius.meta.backend_title'|trans }}
        {% endblock %}
    </title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block stylesheets %}
        {% include 'SyliusUiBundle::_stylesheets.html.twig' %}
    {% endblock %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div id="page-wrapper">
    <div id="sidebar-wrapper">
        {% block sidebar %}
            {% include 'SyliusUiBundle:Sidebar:_default.html.twig' %}
        {% endblock %}

        <div class="sidebar-footer">
            <div class="col-xs-4">
                <a href="https://sylius.org" target="_blank">&copy; Sylius</a>
            </div>
        </div>
    </div>

    <div id="content-wrapper">
        <div class="page-content">
            <div class="row header">
                <div class="col-xs-12">
                <div class="meta pull-left">
                    {% block header %}{% endblock %}
                </div>
                {% block user %}
                    {% include 'SyliusUiBundle:Header:_user.html.twig' %}
                {% endblock %}
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    {% block flashes %}
                        {% include 'SyliusUiBundle::_javascripts.html.twig' %}
                    {% endblock %}

                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    </div>

    {% block modals %}
        {# include 'SyliusUiBundle:Modal:_standard.html.twig' #}
        {% include 'SyliusUiBundle:Modal:_confirmation.html.twig' %}
    {% endblock %}

    {% block javascripts %}
        {% include 'SyliusUiBundle::_javascripts.html.twig' %}
    {% endblock %}
</html>
