<ul class="sidebar">
    <li class="sidebar-main">
        <a href="{{ path(route|default('sylius_backend_dashboard')) }}"> <img src="{{ asset('bundles/syliusui/img/logo.png') }}"> Sylius
            <i id="sidebar-toggle" class="menu-icon fa fa-bars"></i>
        </a>
    </li>

    <li class="sidebar-title">Products</li>
    <li class="sidebar-list">
        <a href="#">Dashboard</a>
    </li>
</ul>
