@media only screen and (min-width : 993px) {
    .row.header .meta .page {
        width: 380px;
    }
}
@media only screen and (max-width : 992px) {
    .row header .meta .page {
        width: 180px;
    }
    .btn i {
        margin-right: 0;
    }
    .btn span {
        display: none;
    }
}
