// Colors.
@color-sylius: #1ABB9C;
@color-dark-sylius: #37A37E;
@color-text: #5a5a5a;
@color-light-gray: #EDEDEB;
@color-gray: #3D3D3D;
@color-dark-gray: #2B2B2B;
@color-near-white: #F7F7F5;
@color-border: #EEEEEE;

@color-white: #ffffff;
@color-black: #000000;

@color-label-positive: #2f8206;
@color-label-background-positive: #dff2d4;

@color-label-background-negative: #f2dede;
@color-label-negative: #a94442;

// Fonts.
@font-default: "Montserrat", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
