{% include 'AstoundWebBundle:Backend/Order:_productFinderForm.html.twig' %}
<center>
<div class="btn-group" id="addProductsButtons">
</div>
<div class="btn-group">	
    <a class="btn btn-sm btn-primary edit" productID="124" href=""
        title="ADD">VHSTODVD
        <span class="glyphicon glyphicon-plus"></span> ADD
    </a>
    <a class="btn btn-sm btn-primary edit" productID="126" href=""
        title="ADD">HI8TODVD
        <span class="glyphicon glyphicon-plus"></span> ADD
    </a>
    <a class="btn btn-sm btn-primary edit" productID="128" href=""
        title="ADD">FILMTODVD
        <span class="glyphicon glyphicon-plus"></span> ADD
    </a>
    <a class="btn btn-sm btn-primary edit" productID="129" href=""
        title="ADD">SLIDETODATA
        <span class="glyphicon glyphicon-plus"></span> ADD
    </a>
    <a class="btn btn-sm btn-primary edit" productID="130" href=""
        title="ADD">DVDDUP
        <span class="glyphicon glyphicon-plus"></span> ADD
    </a>
</div>
</center>
<hr>
