{% extends 'SyliusShopBundle:Static:layout.html.twig' %}

{% block content %}
<div class="ui breadcrumb">
    <a class="section">Home</a>
    <div class="divider"> / </div>
    <div class="active section">My account</div>
</div>

<div class="ui stackable grid">
    <div class="four wide column">
        {% include '@SyliusShop/Static/Account/_menu.html.twig' %}
    </div>
    <div class="twelve wide column">
        <h1 class="ui monster section dividing header">
            Change password
            <div class="sub header">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        </h1>
        <form class="ui form">
            <div class="field">
                <label>Current password</label>
                <input type="password">
            </div>
            <div class="field">
                <label>New password</label>
                <input type="password">
            </div>
            <div class="field">
                <label>Repeat new password</label>
                <input type="password">
            </div>
            <button type="submit" class="ui primary icon labeled button"><i class="lock icon"></i> Change password</button>
        </form>
    </div>
</div>
{% endblock %}
